* {
    margin: 0;
    font-family: "montserrat", sans-serif;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: grey;
    font-size: 14px;
    line-height: 21px; 
    color: white;
}

/*styling class*/
.b {
    font-weight: 700;
    font-size: 20px;
    transform: uppercase;
}

.sb {
    font-weight: 500;
    font-size: 16px;
}



 

.resume {
    width: 800px;
    height: auto;
    display: flex;
    margin: 45px auto;
}

.rl {
    width: 280px;
    background: #0bb5f4;
}

.resume .rl .rp {
    width: 100%;
    height: 280px;
}

.resume .rl .rp img {
    width: 100%;
    height: 100%;
}

.resume .rl .rc {
    padding: 0 15px;

}

.resume .title {
    margin: 15px 0;
}

.resume .rl .b {
    color:#fff;
}

.resume .rl .reg {
    color: #b1eaff;
}

.resume .ri {
    padding: 30px 0;
    border-bottom: 2px solid #b1eaff;
}

.resume .ri:last-child {
    border-bottom: 0;
}

.resume .rl ul li {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.resume .rl ul li .icon {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.resume .rl ul li i {
    position: absolute;
    top: 18px;
    left: 18px;
    transform: translate(-50%, -50%);
}

.resume .rl ul li .data {
    color: #b1eaff;
}

.resume .rs ul li {
    display: flex;
    margin-bottom: 15px;
    color: #b1eaff;
    justify-content: space-between;
}

.resume .rl .rs ul li .sn {
    width: 25%;
}

.resume .rl .rs ul li .sp {
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
}

.resume .rl .rs ul li .spc {
    width: 15%;
}

.resume .rl .rs ul li .sp span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
}

.resume .rr {
    width: 520px;
    padding: 30px;
    background: #fff;
}

.resume .rr .b {
    color: #009fd9;
}

.resume .rr p {
    color: #666;
}

.resume .rr .rw ul {
    padding-left: 45px;
    overflow: hidden;
}

.resume .rr .rw ul li {
    position: relative;
    margin-bottom: 15px;
}

.resume .rr ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    color: black;
}

.resume .rr .rw ul li:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #009fd9;
}

.resume .rr .rw ul li:after {
    content: "";
    position: absolute;
    top: 13px;
    left: -26px;
    width: 2px;
    height: 126px;
    background: #009fd9;
}

.resume .rr .rh ul {
    display: flex;
    justify-content: space-between;
}

.resume .rr .rh ul li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #009fd9;
    color: #009fd9;
}

.resume .rr .rh ul li i {
    font-size: 30px;
}

.resume .rr .rh ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resume .rr .rh ul li:before {
    content: "";
    position: absolute;
    top: 25px;
    right: -90px;
    width: 90px;
    height: 2px;
    background: #009fd9;
}

.resume .rr .rh ul li:last-child:before {
    display: none;
}
